<header>
    <div class="top-bar">
            <div class="page-title"><h1><%= title %></h1></div>
            <div class="user-profile">
                <div class="user-icon-container" id="userIconContainer">
                    <div class="user-icon">--</div>
                </div>
                <div class="user-dropdown" id="userDropdown">
                    <div class="dropdown-email" id="userEmailFull">user@example.com</div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-logout" id="logoutButton">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </div>
                </div>
            </div>
        </div>
</header>
