<div class="sidebar">
        <div class="logo-container">
            <a href="dashboard.html" class="logo">
              <i><img src="./img/logo.png" width="40px" height="auto"></i>
                <span>TanyaBot</span>
            </a>
        </div>
        <div class="menu-items">
            <a href="dashboard.html" class="menu-item active">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
            
            <a href="database.html" class="menu-item">
                <i class="fas fa-database"></i>
                <span>Database Management</span>
            </a>
            <a href="analytics.html" class="menu-item">
                <i class="fas fa-chart-line"></i>
                <span>Analytics & Reports</span>
            </a>
        </div>
    </div>